.card {
    padding: 10px;
    gap: 0.5em;
    background: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--color-slate400);
    color: var(--color-slate950);
    scroll-snap-align: start;
}

.card:hover {
    cursor: default;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin: auto 0;
    overflow: hidden;
}

.card-t {
    font-size: var(--size-base);
    letter-spacing: 0.05em;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.card-feature {
    max-width: 100px;
    gap: 0.1em;
    font-weight: normal;
    color: var(--color-slate950);
}

.card-prod {
    display: block;
}

.card-i {
    display: block;
}

.card-star {
    height: var(--size-xl);
    margin-right: 0.3em;
}

.card-rate {
    color: var(--color-slate400);
    font-size: var(--size-xl);
    margin-right: auto;
}

.card-price {
    font-size: var(--size-2xl);
    font-weight: 500;
}
.card-price::before {
    content: '$';
    margin-right: 0.3em;
}


/* Laptop XL */
@media (max-width: 1920px) {
    .card-t {
        font-size: var(--size-sm);
    }

    .card-star {
        height: var(--size-base);
    }

    .card-rate {
        font-size: var(--size-sm);
    }

    .card-price {
        font-size: var(--size-xl);
    }
}

/* Laptop L */
@media (max-width: 1441px) {
}

/* Laptop M */
@media (max-width: 1281px) {
    .card-t {
        font-size: var(--size-xs);
    }
    .card-star {
        height: var(--size-xs);
    }

    .card-rate {
        font-size: var(--size-xs);
    }

    .card-price {
        font-size: var(--size-lg);
    }
}

/* Laptop S */
@media (max-width: 1025px) {
}

/* Tablet */
@media (max-width: 875px) {
}


/* Mobile */
@media (max-width: 641px) {
    .card {
        width: 100%;
    }
}
