.card {
    padding: 15px;
    gap: 0.5em;
    background: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--color-slate400);
    color: var(--color-slate950);
    scroll-snap-align: start;
}

.card:hover {
    cursor: default;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin: auto 0;
    overflow: hidden;
}

.card-t {
    font-size: var(--size-2xl);
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.05em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    margin-bottom: 0.5em;
}

.card-price {
    font-size: var(--size-4xl);
    line-height: 1em;
    color: var(--color-green600);
    font-weight: 600;
    margin-bottom: 0.25em;
}
.card-price::before {
    content: '$';
    margin-right: 0.3em;
}

.card-star {
    height: var(--size-3xl);
    margin-right: 0.3em;
    fill: aqua;
}

.card-rate {
    margin-right: auto;
}

.card-count, .card-rate {
    font-size: var(--size-xl);
}

/* Laptop XL */
@media (max-width: 1920px) {
    .card-t {
        font-size: var(--size-base);
    }
    .card-star {
        height: var(--size-base);
    }
    .card-count, .card-rate {
        font-size: var(--size-sm);
    }
    .card-price {
        font-size: var(--size-2xl);
    }
}

/* Laptop L */
@media (max-width: 1441px) {
    .card-t {
        font-size: var(--size-sm);
    }
    .card-star {
        height: var(--size-base);
    }
    .card-count, .card-rate {
        font-size: var(--size-sm);
    }
    .card-price {
        font-size: var(--size-xl);
    }
}

/* Laptop M */
@media (max-width: 1281px) {
    .card-t {
        font-size: var(--size-xs);
    }
    .card-star {
        height: var(--size-sm);
    }
    .card-count, .card-rate {
        font-size: var(--size-xs);
    }
    .card-price {
        font-size: var(--size-lg);
    }
}

/* Laptop S */
/* @media (max-width: 1025px) {
} */

/* Tablet */
@media (max-width: 910px) {
    .card-t {
        font-size: var(--size-xxs);
    }
    .card-star {
        height: var(--size-xs);
    }
    .card-count, .card-rate {
        font-size: var(--size-xxs);
    }
    .card-price {
        font-size: var(--size-base);
    }
}

/* Mobile */
@media (max-width: 640px) {
    .card {
        width: 88vw;
        height: 88vw;
    }
}
