.hero {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    background: pink;
}

.hero-t {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15vw;
    color: var(--color-green600);
    letter-spacing: 0.1em;
    text-align: center;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease-out;
}

.hero-t:hover {
    letter-spacing: -0.1em;
    cursor: none;
}
