.nav {
    background: lime;
    height: 5vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 995;
    padding: 15px;
}

.nav ul{
  justify-content: flex-end;
  align-items: baseline;
}

.nav-m {
    gap: 2em;
    padding-top: 5px;
    margin-right: 15px;
  }
  
.nav-m-i {
  font-family: 'Inter', sans-serif;
  font-size: var(--size-lg);
  letter-spacing: 0.01em;
  font-weight: 600;
  color: var(--color-slate950);
}

.nav-m-i:hover {
  cursor: pointer;
}

.nav-m-i:last-child {
  color: var(--color-green600);
}


.log-panel {
  height: max-content;
  width: max-content;
  position: absolute;
  right: 0;
  padding: 15px;
  margin-top: 25px;
  background: var(--color-white);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px var(--color-slate400) inset;
}

.log-form > input {
  font-size: var(--size-base);
  text-align: center;
  color: var(--color-slate400);
  line-height: 2.5em;
  width: 100%;
  padding: 0.25em;
  margin-bottom: 15px;
  background: var(--color-white);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px var(--color-slate400) inset;
} 

.log-form > input:focus {
  outline: none;
  color: var(--color-slate950);
  background: linear-gradient(90deg, var(--color-slate50) 10%, var(--color-white));
} 

.log-form > button {
  font-size: var(--size-lg);
  font-weight: 600;
  letter-spacing: 0.05em;
  color:var(--color-white);
  background: linear-gradient(90deg, var(--color-green600) 10%, var(--color-green400));
  margin-bottom: 15px;
}

.log-form > a {
  font-size: var(--size-lg);
  font-weight: 600;
  color: var(--color-green600);
  margin: 0 auto;
}

.log-form > a:hover {
  color: var(--color-green400);
  cursor: pointer;
}



/* Laptop XL */
@media (max-width: 1920px) {
  .nav-m-i {
    font-size: var(--size-base);
  }
  .log-form > input {
    font-size: var(--size-base);
  } 
  .log-form > button {
    font-size: var(--size-base);
  }
  .log-form > a {
    font-size: var(--size-base);
  }
}

/* Laptop L */
@media (max-width: 1441px) {
}

/* Laptop M */
@media (max-width: 1281px) {
}

/* Laptop S */
/* @media (max-width: 1025px) {
} */

/* Tablet */
/* @media (max-width: 890px) {
} */

/* Mobile */
@media (max-width: 641px) {
  .nav {
    /* z-index: 999;
    width: 100%;
    position: sticky; */
  }
  .nav-m-i {
    font-size: var(--size-xs);
  }
  .log-panel {
    height: 250px;
  }
  
  .log-form > input {
    font-size: var(--size-sm);
  } 
  .log-form > a {
    font-size: var(--size-sm);
  }
}