.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 15vw;
    height: 110vh;
    background: var(--color-white);
    box-shadow: 0 10px 10px var(--color-slate200);
 }


/* Laptop XL */
@media (max-width: 1920px) {
  .sidebar {
    width: 15vw;
  }
}

/* Laptop L */
/* @media (max-width: 1441px) {
} */

/* Laptop M */
@media (max-width: 1281px) {
  .sidebar {
    width: 25vw;
  }
}

/* Laptop S */
@media (max-width: 1025px) {
}

/* Tablet */
@media (max-width: 875px) {
}

/* Mobile */
@media (max-width: 640px) {
  .sidebar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    overflow-y: visible;
  }
}