.str {
    padding-top: 5vh;
    padding-left: 16vw;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

.str-subt {
    letter-spacing: 0.01em;
    color: var(--color-slate950);
    font-size: 1.2vw;
    font-weight: 500;
    margin-left: 0;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

.carousel {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 19vw);
    grid-template-rows: repeat(10, 19vw);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-wrap: wrap;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
    overscroll-behavior: contain;
}

/* Laptop XL */
/* @media (max-width: 1920px) { 
} */

/* Laptop L */
@media (max-width: 1441px) {
    .str-subt {
        font-size: 1.125rem
    }      
}

/* Laptop M */
@media (max-width: 1281px) {
    .str {
        padding-left: 26vw;
    }
}

/* Laptop S */
/* @media (max-width: 1025px) {
} */

/* Tablet */
@media (max-width: 910px) {
    .carousel {
        grid-template-columns: repeat(5, 26vw);
        grid-template-rows: repeat(10, 26vw);
    }
}

/* Mobile */
@media (max-width: 641px) {
    .str {
        position: relative;
        padding: 15px;
        overflow-y: auto;
        height: 100%;
    }
    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
    }
}