:root {
  --color-white: #fff;
  --color-slate50: #f8fafc;
  --color-slate200: #e2e8f0;
  --color-slate400: #94a3b8;
  --color-slate600: #475569;
  --color-slate800: #1e293b;
  --color-slate950: #020617;
  --color-green50: #f0fdf4;
  --color-green200: #bbf7d0;
  --color-green400: #4ade80;
  --color-green600: #16a34a;
  --color-green800: #166534;
  --size-xxs: 0.625rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.75rem;
  --size-4xl: 2rem;
  --size-5xl: 2.25rem;
  --size-6xl: 2.5rem;
  --size-7xl: 3rem;
  --size-8xl: 3.5rem;
  --size-9xl: 4rem;
  --size-10xl: 8rem;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:hover, a:hover, input:hover {
  cursor: pointer !important;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  color: var(--color-slate950);
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: auto;
  scroll-snap-align: start;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-slate400) inset;
  height: 2.5em;
  font-family: 'Inter', sans-serif;
  color: var(--color-slate600);
  background: linear-gradient(90deg, var(--color-slate50) 1%, var(--color-white));

  transition-duration: 150ms;
  transition-timing-function: ease;
}

.btn:active {
  scale: 0.95;
}


.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.clickable {
  cursor: pointer;
  transform: scale(1);
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.clickable:active {
  transform: scale(0.95);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  z-index: 1001;
}

.footer p {
  font-size: var(--size-sm);
  letter-spacing: -0.01em;
  line-height: 1em;
}

/* Laptop XL */
@media (max-width: 1920px) {
  .footer p {
    font-size: var(--size-xs);
  }
}

/* Laptop L */
@media (max-width: 1441px) {
  .footer p {
    font-size: var(--size-xxs);
  }
}

/* Laptop M */
/* @media (max-width: 1281px) {
} */

/* Laptop S */
/* @media (max-width: 1025px) {
} */

/* Tablet */
@media (max-width: 910px) {
  .footer p {
    width: 200px;
    word-wrap: break-word;
    font-size: var(--size-xxs);
  }
}

/* Mobile */
@media (max-width: 641px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .footer p {
    width: 100%;
  }
  html {
    scroll-snap-type: y proximity;
  }
}