:root {
  --color-white: #fff;
  --color-slate50: #f8fafc;
  --color-slate200: #e2e8f0;
  --color-slate400: #94a3b8;
  --color-slate600: #475569;
  --color-slate800: #1e293b;
  --color-slate950: #020617;
  --color-green50: #f0fdf4;
  --color-green200: #bbf7d0;
  --color-green400: #4ade80;
  --color-green600: #16a34a;
  --color-green800: #166534;
  --size-xxs: 0.625rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.75rem;
  --size-4xl: 2rem;
  --size-5xl: 2.25rem;
  --size-6xl: 2.5rem;
  --size-7xl: 3rem;
  --size-8xl: 3.5rem;
  --size-9xl: 4rem;
  --size-10xl: 8rem;
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

*:hover {
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-slate400) inset;
  height: 2.5em;
}

.footer {
  padding: 10px;
}

.footer p {
  font-family: 'Inter', sans-serif;
  font-size: var(--size-sm);
  line-height: 1em;
}

/* Laptop XL */
@media (max-width: 1885px) {
  .footer p {
    font-size: var(--size-xs);
  }
}

/* Laptop L */
@media (max-width: 1441px) {
  .footer p {
    font-size: var(--size-xxs);
  }
}

/* Laptop M */
/* @media (max-width: 1281px) {
} */

/* Laptop S */
/* @media (max-width: 1025px) {
} */

/* Tablet */
/* @media (max-width: 769px) {
} */

/* Mobile */
@media (max-width: 641px) {
  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .footer {
    display: none;
  }

}